<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.KDTR.scanList.dao.MakerScanListDao">
	<!-- 버전 조회 -->
	<select id="selMdtrVersion" resultType="hashmap">
		SELECT STRDAT										
		  FROM MKSCLS							
		 WHERE JPCODE = #{JPCODE} 									
		 GROUP BY STRDAT 									
		 ORDER BY STRDAT DESC
	</select>	

	<!-- 조회 -->
	<select id="selMakerScanList" resultType="hashmap">
		SELECT A.JPCODE, B.JPNAME, A.FILENM, A.LOTNUM, A.MNGDAT, A.REMARK
		  FROM MKSCLS A								
		  LEFT OUTER JOIN JEPMST B								
		    ON A.JPCODE = B.JPCODE								
		  LEFT OUTER JOIN ZOPR01 D					
		    ON A.REGUSR = D.USER_ID							
		  LEFT OUTER JOIN ZOPR01 E					
		    ON A.MODUSR = E.USER_ID							
		 WHERE 1=1 			
		<if test="JPCODE != ''">
		   AND A.JPCODE = #{JPCODE}
		</if>								
		<if test="sMNGDAT != ''">
		   AND A.MNGDAT BETWEEN #{sMNGDAT} AND #{eMNGDAT} 
		</if>								
		 ORDER BY A.JPCODE, A.MNGDAT
	</select>
			
	<!-- 등록 -->
    <insert id="insMakerScanList">
    	INSERT INTO MKSCLS ( JPCODE, FILENM, LOTNUM, MNGDAT, REMARK
    					   , REGUSR, REGDAT) 
					VALUES ( #{JPCODE}, #{FILENM}, #{LOTNUM}, #{MNGDAT}, #{REMARK, jdbcType=VARCHAR}
						   , #{REGUSR}, TO_CHAR(SYSDATE, 'YYYY-MM-DD HH:mm:SS') )
    </insert>
	
	<!-- 수정 -->
    <update id="updMakerScanList">
	  	UPDATE MKSCLS		
	   	   SET FILENM = #{FILENM, jdbcType=VARCHAR}
	         , MNGDAT = #{MNGDAT, jdbcType=VARCHAR}
	         , REMARK = #{REMARK, jdbcType=VARCHAR}
	         , MODUSR = #{MODUSR}
	         , MODDAT = TO_CHAR(SYSDATE, 'YYYYMMDD')
	 	 WHERE JPCODE = #{JPCODE}
	   	   AND LOTNUM = #{LOTNUM}
	   	   AND MNGDAT = #{MNGDAT}
    </update>
	
	<!-- 삭제 -->
    <delete id="delMakerScanList">
	  	DELETE FROM MKSCLS		
	 	 WHERE JPCODE = #{JPCODE}
	   	   AND LOTNUM = #{LOTNUM}
	   	   AND MNGDAT = #{MNGDAT}
    </delete>
</mapper>