<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.KDTR.scanList.dao.TrscanlistDao">
	<!-- 스캔본 조회 -->
	<select id="selScanList" resultType="hashmap">
		SELECT A.LOTNUM, A.LOTDAT, A.JPCODE, B.JPNAME, A.FIRMCD
		     , A.LOTSIZ, A.ORDATE, A.SCNNAM
		  <choose>
		  	<when test="_parameter.containsKey('SELLOT')">
		     , DECODE(A.ORDATE, #{LOTNUM},'MATCHED','NONE') state
		  	</when>
		  	<otherwise>
		     , 'NONE' state
		  	</otherwise>
		  </choose>
		  FROM CETSCN A
		  LEFT JOIN JEPMST B
		    ON A.JPCODE = B.JPCODE	
		 WHERE 1=1
		 <if test="_parameter.containsKey('STRDAT') and STRDAT != ''">
		   AND A.LOTDAT BETWEEN #{STRDAT} AND #{ENDDAT}
		 </if>
		 <if test="_parameter.containsKey('LOTNUM_CHK') and LOTNUM_CHK == 'true'">	
		   AND A.ORDATE IS NULL
		 </if>
		 <if test="_parameter.containsKey('JPCODE') and JPCODE != ''">	
		   AND A.JPCODE = #{JPCODE}
		 </if>
		 <if test="_parameter.containsKey('LOTNUM') and LOTNUM != ''">	
		   AND A.LOTNUM = #{LOTNUM}
		 </if>
	</select>
	
	<!-- 주문 정보 조회 -->
	<select id="selOrderList" resultType="hashmap">
		SELECT B.ORDATE, D.JPNAME, A.JPCODE, A.QUANTI TOTJEG
		     , C.SNGHOK, B.TRGUBN, A.LOTNUM, A.LOTDAT	       
		  FROM ORDBDY A  					
		  JOIN ORDHAD B  					
		    ON B.AREACD = A.AREACD                  
		   AND B.ORDATE = A.ORDATE                  
		   AND B.ORDSEQ = A.ORDSEQ                  
		  JOIN FRMMST C  					
		    ON C.FIRMCD = B.FIRMCD
		  JOIN JEPMST D 
		    ON A.JPCODE = D.JPCODE                                  
		  LEFT OUTER JOIN CETSCN F			
		    ON A.LOTNUM = F.LOTNUM                   
		   AND A.LOTDAT = F.LOTDAT
		 WHERE A.ORDATE BETWEEN #{STRDAT_ORDER} AND #{ENDDAT_ORDER}
		 <if test="LOTNUM_CHK == 'true'">	
		   AND A.LOTNUM IS NULL
		 </if>
		 <if test="_parameter.containsKey('JPCODE') and JPCODE != ''">	
		   AND A.JPCODE = #{JPCODE}
		 </if>
		 ORDER BY B.ORDATE, A.JPCODE, C.SNGHOK, B.AREACD
	</select>
	
	<!-- 등록 -->
    <insert id="insUSRMST">
    	INSERT INTO ZOPR01 ( USER_ID, USER_NM, PASSWD, ACTIVE, INSUSR
						   , INSDAT) 
					VALUES ( #{USER_ID}, #{USER_NM}, #{PASSWD}, #{ACTIVE}, #{INPSBN}
						   , TO_CHAR(SYSDATE, 'YYYY-MM-DD HH:MI:SS') )
    </insert>
	
	<!-- 수정 -->
    <update id="updUSRMST">
	  	UPDATE ZOPR01		
	   	   SET USER_NM = #{USER_NM}
	   	   	 <if test="PASSWD != null">
	         , PASSWD = #{PASSWD}
	         </if>
	         , ACTIVE = #{ACTIVE}
	         , UPTUSR = #{INPSBN}
	         , UPTDAT = TO_CHAR(SYSDATE, 'YYYY-MM-DD HH:MI:SS')
	 	 WHERE USER_ID = #{USER_ID}
    </update>
	
	<!-- 삭제 -->
    <delete id="delUSRMST">
	  	DELETE FROM ZOPR01		
	 	 WHERE USER_ID = #{USER_ID}
    </delete>
</mapper>